@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>    
    Kiev<br />
    <abbr title="Phone">P:</abbr>
    +38 066 350 44 52
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:agnessa.pavlyuchenkova@gmail.com>">agnessa.pavlyuchenkova@gmail.com</a><br />   
</address>